#loadingScreen { 
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 9999; 
    text-align: center; 
    padding-top: 20%; }

#uploadPage .navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#uploadPage .form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#uploadPage .btn-custom {
    background-color: #34c759;
    color: white;
    padding: 14px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

#uploadPage .btn-custom:hover {
    background-color: #28a745;
}
/* Specific styles for comparison page */
        #comparisonPage .container .card {
            margin-top: 100px; /* Adjust for fixed navbar height */
        }
        

        #comparisonPage .card {
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
        }

        #comparisonPage .card-body {
            padding: 2rem;
        }

        #comparisonPage .table-responsive {
            margin-bottom: 40px;
        }

        /* Add box shadow to pagination container */
#comparisonPage .pagination-container {
    display: flex;
            justify-content: center; /* Center buttons */
            margin-top: 30px;
            flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

#comparisonPage .pagination-container .btn {
    margin: 0 5px;
            padding: 10px 20px;
            font-size: 1rem;
}

/* Box shadow for pagination container */
#comparisonPage .shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    border-radius: 8px;
    background-color: #fff;
    padding: 15px; /* Padding to make the shadow stand out */
}

#comparisonPage .mb-5 {
    margin-bottom: 30px; /* Adjust bottom margin for spacing */
}

/* Action buttons outside container */
#comparisonPage .action-buttons {
    margin-top: 30px;
            display: flex;
            justify-content: start;
            margin-bottom: 20px;
        }

        #comparisonPage .action-buttons .btn {
            margin: 0 15px;
        }

        /* Table container styles */
        #comparisonPage .table-box {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            background-color: white;
        }
